* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    display: inline-block;
}

ul,
li {
    display: inline-block;
    list-style: none;
    margin: 0;
    margin-top: 4px;
    padding: 0;
    padding: 0px 0px 10px 0px;
}

.container {
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 15px;
}

.body {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

.logo img {
    height: 120px;
    width: 100px;
    float: right;
}

.m_items {
    width: 1300x;
    margin: 30px 40px;
    font-size: 26px;
}

.menu a {
    color: black;
    line-height: 60px;
    padding: 0px 26px;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    transition: .5s linear;
}

.menu__item {
    position: relative;
}

.menu__item:hover .submenu {
    transform: scaleY(1);
}

.submenu {
    position: absolute;
    top: 40px;
    left: 0;
    display: flex;
    flex-direction: column;
    z-index: 10;
    transform: scaleY(0);
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    background-color: #fff;
}

.submenu__item {
    position: relative;
}


.submenu__item:hover .submenu__dop {
    transform: scaleY(1);
}

.submenu__dop {
    position: absolute;
    top: 0px;
    left: 130px;
    display: flex;
    flex-direction: column;
    z-index: 80;
    transform: scaleY(0);
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    background-color: #fff;
}

.submenu_on {
    position: absolute;
    top: 50px;
    left: 0px;
    display: flex;
    flex-direction: column;
    z-index: 80;
    transform: scaleY(0);
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    background-color: #fff;
}

.submenu__item:hover .submenu_on {
    transform: scaleY(1);
}

.line1 {
    width: 1400px;
    border-top: 1px solid #000;
    margin: 0 auto;
}

.ak {
    margin: 0 auto;
    font-family: 'Raleway', sans-serif;
    width: 1300px;
    height: 100%;
    padding-bottom: 60px;

}

.title {
    text-align: center;
    font-size: 36px;
    margin: 50px;
}

.items {
    display: flex;
}

.text_it {
    display: grid;
}

.text {
    font-size: 32px;
    width: 740px;
    height: 100%;
    margin-left: 60px;
    margin-top: 55px;
}

.items img {
    margin: 10px;
}

.cod {
    display: grid;
}
.timer{
    margin: auto;
    margin-top: 15px;
}
.timer__items {
    display: flex;
    font-size: 72px;
    border-radius: 20px;
    background: #ecc48da1;
}

.timer__item {
    position: relative;
    min-width: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 15px;
    text-align: center;
}

.timer__item::before {
    content: attr(data-title);
    display: block;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    font-size: 20px;
}

.timer__item:not(:last-child)::after {
    content: ':';
    position: absolute;
    right: -15px;
}

.text2 {
    font-size: 24px;
    text-align: right;
}

.foto {
    margin-top: 15px;
    position: relative;
}

.btn {
    position: absolute;
    width: 120px;
    height: 40px;
    bottom: 7px;
    left: 45px;
    border-right: 4px solid #d97c42;
    border-bottom: 4px solid #d97c42;
    background: #fdbb57;
    color: rgb(255, 254, 254);
    padding: 0px;
    font-size: 26px;
    border-radius: 10px;
    font-family: 'Raleway', sans-serif;
    line-height: 25px;
}

.btn:hover {
    color: white;
    background: rgb(0, 0, 0);
    border: none;
}

.line2 {
    width: 1400px;
    border-top: 1px solid #000;
    margin: 0 auto;
    margin-top: 10px;
}

.foot {
    width: 1400px;
    height: 30px;
    display: flex;
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    padding: 0px 0px 0px 120px;
    margin: 0 auto;
    margin-top: 15px;
}

.mail {
    padding: 0px 210px 0px 0px;
}

.kopi {
    padding: 0px 210px 0px 0px;
}

.number {
    float: right;
}
