* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    display: inline-block;
}

ul,
li {
    display: inline-block;
    list-style: none;
    margin: 0;
    margin-top: 4px;
    padding: 0;
}

.container {
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 15px;
}

.body {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

.logo img {
    height: 120px;
    width: 100px;
    float: right;
}

.m_items {
    width: 1300x;
    margin: 30px 40px;
    font-size: 26px;
}

.menu a {
    color: black;
    line-height: 60px;
    padding: 0px 26px;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    transition: .5s linear;
}

.menu__item {
    position: relative;
}

.menu__item:hover .submenu {
    transform: scaleY(1);
}

.submenu {
    position: absolute;
    top: 40px;
    left: 0;
    display: flex;
    flex-direction: column;
    z-index: 10;
    transform: scaleY(0);
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    background-color: #fff;
}

.submenu__item {
    position: relative;
}


.submenu__item:hover .submenu__dop {
    transform: scaleY(1);
}

.submenu__dop {
    position: absolute;
    top: 0px;
    left: 130px;
    display: flex;
    flex-direction: column;
    z-index: 80;
    transform: scaleY(0);
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    background-color: #fff;
}

.submenu_on {
    position: absolute;
    top: 50px;
    left: 0px;
    display: flex;
    flex-direction: column;
    z-index: 80;
    transform: scaleY(0);
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    background-color: #fff;
}

.submenu__item:hover .submenu_on {
    transform: scaleY(1);
}

.line1 {
    width: 1400px;
    border-top: 1px solid #000;
}
.vakancii{
    display: flex;
    margin-top: 30px;
    width: 1280px;
    margin: 0 auto;
}
.vak{
    
    font-family: 'Raleway', sans-serif;   
}
.title{
    font-size: 36px;
    text-align: center;
}
.podtitle{
    text-align: center;
    font-size: 32px;
}
.okno{
    padding-top: 35px;
    width: 371px;
    text-align: center;
    height: 480px;
    margin: 27px;
    background: #ecc48da1;
    font-family: 'Raleway', sans-serif;
}
.nazv{
    font-size: 36px;
    padding-bottom: 20px;
}
.items{
    padding: 10px;
}
.text{
    width: 315px;
    font-size: 24px;
    margin: auto;
}
.forma{
margin: auto;
    width: 1205px;
    font-family: 'Raleway', sans-serif;
}

.text2{
    font-size: 32px;
    margin: 30px;
}
.for_items{
font-size: 32px;
padding: 50px 0px 0px 70px;
}
.pole{
    margin-left: 15px;
    font-size: 32px;
    width: 255px;
    background: none;
    border: none;
    border-bottom: 1px solid #ae803f;
}
.pole2{
    margin-left: 15px;
    font-size: 32px;
    width: 415px;
    background: none;
    border: none;
    border-bottom: 1px solid #ae803f;
}
.cvyaz{
     display: inline;
}
.pole3{
    margin-left: 15px;
    font-size: 32px;
    width: 525px;
    background: none;
    border: none;
    border-bottom: 1px solid #ae803f;
}
.zapol{
    margin: auto;
    width: 1050px;
    height: 310px;
    border-radius: 30px;
    background: #ecc48da1;
}
.dann{
    display: flex;
    padding-bottom: 55px;
}
.proda{
    display: flex;
    padding: 45px 0px 0px 323px;

}
.nagrada{
    padding: 0px 423px 9px 10px;
}
.btn{
    width: 150px;
    height: 50px;
    border: none;
    background: #ecc48da1;
    color: #000;
    padding: 10px;
    font-size: 26px;
    border-radius: 10px;
    font-family: 'Raleway', sans-serif;
    line-height: 25px;
}
.btn:hover{
    color: white;
    background: rgb(0, 0, 0);
    height: 55px;
    width: 160px;
    font-size: 24px;
}
.btn2{
    margin: auto;
    margin-top: 35px;
    display: block;
    width: 370px;
    height: 40px;
    border: none;
    background: #ecc48da1;
    color: #000;
    padding: 0px;
    font-size: 26px;
    border-radius: 10px;
    font-family: 'Raleway', sans-serif;
    line-height: 25px;
}
.btn2:hover{
    color: white;
    background: rgb(0, 0, 0);
    height: 45px;
    width: 250px;
    font-size: 24px;
}
.line2 {
    width: 1400px;
    border-top: 1px solid #000;
    margin-top: 15px;
}

.foot {
    width: 1400px;
    height: 30px;
    display: flex;
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    padding: 0px 0px 0px 120px;
    margin: 30px 0px 15px 0px;
}

.mail {
    padding: 0px 210px 0px 0px;
}

.kopi {
    padding: 0px 210px 0px 0px;
}

.number {
    float: right;
}
